// Variables

// Fonts
$arial: Arial, Helvetica, Tahoma, sans-serif;
$courier: 'Courier new', monospace, serif;


// Colors
$gray: #2e3337;

$navy: #003B64;
$royalBlue: #007fd8;

$yellow: #fff200;
$lightYellow: #ffffcc;